body{
    background-color: #b1bed5;
    background-image: url("red-clouds.jpg");
    background-size: cover;
}

.weather-app{
    
    background-color: #F7DBD7;
    margin: 60px auto;
    padding: 30px;
    max-width: 700px;
    font-family: "Sour Gummy";
    border-radius: 14px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.form-input{
    border: none;
    max-width: 80%;
    background-color: #C6BBCB;
    width: 50%;
    padding: 10px 20px;
    text-align: left;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.formular{
    width: 150%;
    
}

.form-button{
    background-color: #9A4F53;
    padding: 10px 20px;
    height: fit-content;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    color: #f4f3f3;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

header{
    border-bottom: 1px solid #9A4F53;
    padding-bottom: 20px;
}

.weather-data{
    display: flex;
    justify-content: space-between;
}

.city{
   margin:0%;
    font-family: "Roboto";
}

.details{
  color:rgba(0, 0, 0, 0.7);

}
main{
    padding: 20px;
}

.temperature-container{
    display: flex;
}

.temperature{
    font-size: 88px;
    font-weight: bold;
}

.temperature-icon{
    font-size: 44px;
}

.celsius{
    font-size: 44px;
    margin-top: 15px;
}

footer{border-top:1px solid #9A4F53; 
padding-top:  20px;
font-size: 14px;
color: rgba(0, 0, 0, 0.5);
text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);}

a{color: #9A4F53;
font-weight:bold;}

.weather-forecast {
    display: flex;
    justify-content: space-around;
}

.forecast-day{
    text-align: center;
}

.forecast-icon{
    text-align: center;
    margin: 10px;
}

.forecast-temperatures{
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 10px; 
}
.forecast-temperature{
    padding: 0 15px;
}

